In [1]:
# !pip install python-dotenv

Defaulting to user installation because normal site-packages is not writeable
Collecting python-dotenv
  Downloading python_dotenv-1.0.0-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.0

In [3]:
# !pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.2.0-cp310-cp310-manylinux_2_17_x86_64.whl (31.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 31.6/31.6 MB 10.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting protobuf<=4.21.12,>=4.21.1
  Downloading protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 KB 11.6 MB/s eta 0:00:00m eta 0:00:01
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.24.4
    Uninstalling protobuf-4.24.4:
      Successfully uninstalled protobuf-4.24.4
Successfully installed mysql-connector-python-8.2.0 protobuf-4.21.12

In [12]:
from dotenv import load_dotenv
from os import getenv
import mysql.connector

In [13]:
load_dotenv()
host = getenv("HOST")
user = getenv("MYSQL_USER")
password = getenv("PASSWORD")

In [89]:
db = mysql.connector.connect(
    host=host,
    user=user,
    password=password
)
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fae68c28fd0>

In [116]:
conn = db.cursor()
conn.execute("CREATE DATABASE IF NOT EXISTS tweets;")
conn.execute("USE tweets;")
conn.execute("CREATE TABLE IF NOT EXISTS raw_tweets (id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, tweet_id VARCHAR(255), date VARCHAR(255), flag VARCHAR(255), user VARCHAR(255), text TEXT )")

In [117]:
conn.execute("SHOW TABLES;")
for result in conn:
    print(result)

('raw_tweets',)

In [118]:
import csv
# csvTweets = csv.reader(file("./data/ProjectTweets.csv"))
# count = 0
# for row in csvTweets:
#     print(row)
#     count += 1
#     if count == 5:
#         break;
count = 0
with open("./data/ProjectTweets.csv", mode="r") as csvTweets:
    csvReader = csv.reader(csvTweets)
    for row in csvReader:
        sql = "INSERT INTO raw_tweets (tweet_id, date, flag, user, text) VALUES (%s, %s, %s, %s, %s) "
#         conn.execute(sql, (row[1], row[2], row[3], row[4], row[5]))
#         print("INSERTED RECORD", row[1])
        if(row[1]):
            conn.execute(sql, (row[1], row[2], row[3], row[4], row[5]))
#         print(tuple(row[1:]))

KeyboardInterrupt:

In [119]:
conn.execute("DROP TABLE raw_tweets")

In [ ]:
db.commit()

In [ ]:
conn.close()